<!doctype html>
<html lang="en">

<head>
	<title>DocUp - Inicio</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="assets/css/style.css">

</head>

<body class="img js-fullheight" style="background-image: url(assets/images/fondo.jpg);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">#CuidemonosEntreTodos</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
						<h3 class="mb-4 text-center">¿Tienes una cuenta?</h3>
						<form action="#" class="signin-form">
							<div class="form-group">
								<input type="text" class="form-control text-center" oninput="checkRut(this)" placeholder="Ingresa tu rut"
									required>
							</div>
							<div class="form-group">
								<input id="password-field" type="password" class="form-control text-center"
									placeholder="Password" required>
								<span toggle="#password-field"
									class="fa fa-fw fa-eye field-icon toggle-password"></span>
							</div>
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary submit px-3">Entrar</button>
							</div>
							<div class="form-group d-md-flex">
								<div class="w-50">
									<label class="checkbox-wrap checkbox-primary">Recuerdame
										<input type="checkbox" checked>
										<span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a href="#" style="color: #fff">Olvidaste tu contraseña?</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer
		style="background-color: black;position: absolute;	bottom: 0; width: 100%; margin-top: 15px;	height: 50px; color: white;">
		<span style="float:left; margin-left: 25px;padding-top: 10px;"><em>IPCHILE &COPY; 2022</em></span>
		<span style="float:right; margin-right: 25px;padding-top: 10px;cursor: pointer;"><a data-toggle="modal"
				data-target="#exampleModal"> Verificar documento</a></span>
	</footer>

	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/popper.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/helpers.js"></script>
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Verificar Documento</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form action="#aaaaa">
					<div class="modal-body">
							<input type="text" class="form-control bg-dark" placeholder="Codigo Auditoria"
								required>
								<br>
							<input type="text" class="form-control bg-dark" placeholder="Codigo documento"
								required>
							
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
						<button type="submit" class="btn btn-primary">Validar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>